<form data-ng-submit="usersEdit.update()" novalidate>
  <div class="form-group">
    <label for="fullname">Full name</label>
    <input type="text" class="form-control" id="fullname" placeholder="Full Name" data-ng-model="usersEdit.user.fullname">
  </div>
  <div class="form-group">
    <label for="tag">Gaming ID</label>
    <input type="text" class="form-control" id="tag" placeholder="Gaming ID" data-ng-model="usersEdit.user.tag">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Email" data-ng-model="usersEdit.user.email">
  </div>
  <div class="form-group">
    <label for="image">Image</label>
    <input type="text" class="form-control" id="image" placeholder="Image" data-ng-model="usersEdit.user.image">
  </div>

  <input type="text"
    data-ng-model="usersEdit.user.currentlyPlaying"
    placeholder="Currently playing"
    uib-typeahead="game for game in usersEdit.getGame($viewValue)" typeahead-loading="loadingGames"
    typeahead-no-results="noResults"
    class="form-control">
    <i ng-show="loadingGames" class="glyphicon glyphicon-refresh"></i>
    <div ng-show="noResults">
      <i class="glyphicon glyphicon-remove"></i> No Results Found
    </div>



  <input type="submit" value="Update" class="btn btn-default">
</form>

<div id="chicken" style="position:absolute; left: 489px; top: 258px;">
  <img src="http://images.lingscars.com/images/header/webcams/chicken-ani.gif" alt>
</div>

<div id="damme" style="position:absolute; right: 50px; top: 185px; height: 300px">
  <img src="http://www.caiman.us/freepix/3495-4.gif" alt>
</div>

<div id="kirby" ng-click="users.makeKirbyFly()">
  <img id="kirby" src="http://www.spriters-resource.com/resources/sheet_icons/3/3345.png">
</div>

<div id="fighter2" style="position:absolute; right: 10px; top: -32px;">
  <img src="http://img.photobucket.com/albums/v381/Inune54/Fire%20Emblem%20Stuff/wight-critical.gif" alt>
</div>

<div id="fighter" style="position:absolute; right: 0px; top: -53px;">
  <img src="http://orig01.deviantart.net/d1f4/f/2011/216/d/b/db943aa362f356c3f992eb4a162eadbd-d3cpoku.gif" alt>
</div>

<div id="adventure" ng-click="users.adventureWalk()">
  <img id="adventure" src="http://24.media.tumblr.com/45c2dfe9cd5458bdfcc3e37df6d0932e/tumblr_mwk4j6Lakc1qd11zvo1_r6_100.gif">
</div>
