<div class="row-fluid">
  <div class="col-md-4" ng-repeat="user in usersSameGame.users">
    <ul>
    <div class="thumbnail">
      <img class="media-object" style="border: 1px solid #490A3D" ng-src="{{ user.image }}">
      <div class="caption">
        <a data-ui-sref="usersShow({ id: user._id })">
          <h4 class="media-left" style="color:#F8CA00">{{ user.fullname }}</h4>
        </a>
        <li>Playing {{user.currentlyPlaying}}</li>
      </div>
    </ul>
    </div>
  </div>
</div>

<div id="chicken" style="position:absolute; left: 489px; top: 258px;">
  <img src="http://images.lingscars.com/images/header/webcams/chicken-ani.gif" alt>
</div>

<div id="damme" style="position:absolute; right: 50px; top: 185px; height: 300px">
  <img src="http://www.caiman.us/freepix/3495-4.gif" alt>
</div>

<div id="kirby" ng-click="users.makeKirbyFly()">
  <img id="kirby" src="http://www.spriters-resource.com/resources/sheet_icons/3/3345.png">
</div>
