@import "_bower";

.media-object {
  width: 555px;
  max-height: 300px;
  list-style-type: none;
  background-image: cover;
}

 body{
   list-style-type: none;
  //  background-color: black;
  background-attachment: fixed;
  background-repeat: none;
  background-size: cover;
 }

.row-fluid{
  list-style-type: none;
}

// *******currently playing*********
.ng-binding{
  list-style-type: none;
  // color: white;
  color: #BD1550;
}

.repeat{
  list-style-type: none;
}

// *****user show thumbnail*******
ul {
  padding: 0;
}

.thumbnail{
  color: #BD1550;
  background-color: black;
  border: solid 2px #490A3D;
  font-family: 'Cranberry', Courier New, Arial;
  padding: 0px;
}

.userImage{
  width: 350px;
  height: 200px;
  border: solid 2px #490A3D;
  background-image: cover;
}

.form-inline{
  padding: 10px;
  text-align: center;
}

.navbar.navbar-default{
  background-color: #490A3D;
  border: #4e5180;
  color: #5B0400;
  margin-bottom: 0px;
  border-radius: 0px;
}


.jumbotron {
  background-image: url("http://sites.duke.edu/lit80s_02_f2013_augrealities/files/2013/12/gaymers.jpg");
  background-position: center;
  margin-top: 0px;
  height: 300px;
  top: 0;
  background-size: cover;
  border-bottom: 5px solid #490A3D;
}

.showHide:focus {
  outline: none;
}

.user-card {
  height: 400px;
}

img.media-object {
  width: auto;
}


img#kirby{
  position: absolute;
  top: 263px;
  left: 20px;
}

.jumobotron.container.play{
  color: white;
}

#bs-example-navbar-collapse-1 a{
  color: white;
  text-shadow: 1px 1px #ff0000;
  font-family: 'Cranberry', Courier New, Arial;
}



// ****************ANIMATIONS***************
/* initial state */
  // #kirby1 {
  //   position: fixed;
  //   bottom: 0;
  //   left: 0;
  //   height: 400px;
  //   color: #fff;
  // }
  // div.kirby {
  //   position: absolute;
  //   bottom: 10px;
  //   left: 20px;
  //   -webkit-transition: 3s ease-in;
  //   -moz-transition: 3s ease-in;
  //   -o-transition: 3s ease-in;
  //   transition: 3s ease-in;
  // }
  // div.kirby div {
  //   width: 120px;
  //   height: 215px;
  //   background: url(http://www.spriters-resource.com/resources/sheet_icons/3/3345.png) no-repeat;
  //   -webkit-transition: 2s ease-in-out;
  //   -moz-transition: 2s ease-in-out;
  //   -o-transition: 2s ease-in-out;
  //   transition: 2s ease-in-out;
  // }
  //
  // /* hover final state */
  // #kirby1:hover div.kirby {
  //   -webkit-transform: translate(740px,-550px);
  //   -moz-transform: translate(740px,-550px);
  //   -o-transform: translate(740px,-550px);
  //   -ms-transform: translate(740px,-550px);
  //   transform: translate(740px,-550px);
  // }
  // #kirby1:hover div.kirby div {
  //   -webkit-transform: rotate(70deg);
  //   -moz-transform: rotate(70deg);
  //   -o-transform: rotate(70deg);
  //   -ms-transform: rotate(70deg);
  //   transform: rotate(70deg);
  // }

  .pikachu{
    position: fixed;
    bottom: 0px;
    right: 0px;
    background: url(http://pre15.deviantart.net/b363/th/pre/f/2013/078/c/4/pikachu__no_bg__by_cromarlimo-d5ylejv.png) no-repeat;
    background-image: center;
    height: 400px;
    width: 400px;
  }
