@import "_bower";

.media-object {
  max-width: 50px;
  list-style-type: none;
}

 body{
   list-style-type: none;
 }

.row{
  list-style-type: none;
}

.ng-binding{
  list-style-type: none;
}

.media-left.ng-binding{
  list-style-type: none;
}
